

h1 {
    color: red;
}

.block {
    color: white;
    background: blue;
    width: 100px;
    height: 70px;
    margin-bottom: 100px;
}
p.new{
    margin-top: 90px;
    font-size: 13px;
}

span {
    color: red;
}

h2 {
    color: white;
    background-color: green;
    padding: 5px;
}

.new {
    padding: 40px;
}

.text  {
    margin-left: 100px;
}

.list li {
    font-size: 30px;
    border: 1px solid;
}



